<footer class="container-fluid text-center py-3 border-top">
    <div class="row">
        <div class="col">
            <p>&copy; 2026 Ignacio González. Todos los derechos reservados.</p>
        </div>
        <div class="col">
            <a href="#navbar">Volver al inicio</a>
        </div>
        <!-- Enlace a contacto -->
        <div class="col">
            <p>Mis redes</p>
            <div class="row" id="redes">
                <!-- Linkedin -->
                <div class="col"></div>
                <!-- GitHub -->
                <div class="col"></div>
                <!-- otro -->
                <div class="col"></div>
            </div>
        </div>
    </div>
</footer>