<header class="container-fluid text-center py-4 border-bottom">
    <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Nacho</h1>
            </div>
            <div>
                <span id="reloj"></span>
            </div>
    </div>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
        <div class="container-fluid">
            <!-- Cambiar foto, muy autoreferente -->
            <a href="/"><i class="bi bi-house"></i></a>
            <!-- Implementar bootstrap -->
            <a href="/" target="_self">Inicio</a>
            <a href="/about/" target="_self">about</a>
            <a href="/contact/" target="_self">contact</a>
            <a href="/proyectos/wallet/login/" target="_self">Wallet</a>
            <a href="/proyectos/smart-task/index/" target="_self">Smart Task</a>
            <a href="/proyectos/biblioteca-untec/index/" target="_self">Biblioteca UNTEC</a>
            <a href="/proyectos/alkemy-manager/index/" target="_self">Alkemy Manager</a>
            <div class="form-check form-switch form-check-reverse">
                <input class="form-check-input" type="checkbox" role="switch" id="switchModoOscuro">
                </input>
                <label class="form-check-label" for="switchModoOscuro">Modo Oscuro</label>
            </div>
        </div>
    </nav>
</header>